/* Made by: RisDN | Ris#2928 */




/*
Changelog 1 2021.06.24
MENUS

- Fixed some positioning bug
- Created style for KPD window
- Created style for Login window
- Fixed challenges button (small text)
- Code optimalization
- Profile page fixed (small text)
- Created style for menuClassPlayerName and menuClassPlayerClan
- Added selected gun's color
- Added button colors to most of the menus
- Fixed purple theme in challanges window

*/


/*
Changelog 2 2021.06.25

- Fixed some positioning bug
- Created style for host game
- Created style for many buttons
- Created style for inputs, like sliders or select
- Created style for scroll bar

*/


/* 
Changelog 3 2021.07.05

- Added in game ui
- Changed menu icons
- Button styles
- Fixed all scrollbars
- Added animations

*/

/* Contributor: PUBSTOMPER */
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
:root {
    --fontcolor: #fbd6fb
}

body,
* {
    font-family: 'Lacquer', cursive;
    font-weight: bold;
}

.menuItem {
    font-size: 28px !important;
    background: rgb(161 7 249 / 11%);
    box-shadow: inset 60px 0 120px #ffffff-60px 0 120px #ffffff;
    margin: 5px;
    -webkit-transition: all .5s;
    transition: all .5s;
    border-radius: 25px;
    color: var(--fontcolor)!important;
    text-shadow: -1px -1px 0 #202020, 1px -1px 0 #202020, -1px 1px 0 #202020, 1px 1px 0 #202020, -2px -2px 0 #202020, 2px -2px 0 #202020, -2px 2px 0 #202020, 2px 2px 0 #202020, -3px -3px 0 #202020, 3px -3px 0 #202020, -3px 3px 0 #202020, 3px 3px 0 #202020!important;
}

#menuBtnChall {
    font-size: 19px !important;
}

.lgn {
    /* Login or register text */
    font-size: 24px !important;
}

.button,
.btnSmall,
.accountButton,
.subPassChg,
.quickJoin,
#hostMenuBtn,
.redVouchBtn,
.settingsBtn,
.advancedToggle,
input:checked+.optCheck,
.hostToggle,
.hostPresetBtn,
.hostCBtn {
    /* Buttons */
    color: var(--fontcolor);
    box-shadow: inset 0 -7px 0 0 #aa02ff!important;
    background-color: transparent !important;
    filter: drop-shadow(0 0 0.3rem #ff00ff);
}

#chatList,
#chatInputHolder,
.chalCard,
#termsInfo,
#headerRight,
#signedOutHeaderBar,
#signedInHeaderBar,
#menuWindow,
.menuClassLevelBox,
.menuClassPlayerName,
.menuClassPlayerClan,
.setHed,
.serverHeader,
#selectorContainer,
#selectorContainer,
.skinCard,
.blackShad,
.classCard,
#itemSearchH,
#tlInfHold,
#leaderDisplay,
#reloadMsg,
#bottomLeftHolder,
#speedRunHolder,
#spectateInfo,
#timerDisplay,
#endTabbedView,
#endUI,
#scoreZoneCount,
#livesCount,
#killCount,
#deathCount,
#streakCount,
#kdCount,
#scoreCount,
#killFeed,
.settingsHeader,
#policePopC,
#instructionsUpdate,
#matchVoteHolder {
    background: rgb(161 7 249 / 11%) !important;
    box-shadow: inset 60px 0 120px #ffffff-60px 0 120px #ffffff !important;
}

#policePopC b,
#menuClassSubtext {
    color: #e423e4 !important;
}

#reloadMsg,
#bottomLeftHolder,
.blackShad {
    border-radius: 25px;
}

::-webkit-scrollbar-track {
    background: rgb(161 7 249 / 11%) !important;
    box-shadow: inset 60px 0 120px #ffffff-60px 0 120px #ffffff !important;
}

::-webkit-scrollbar {
    background: rgb(161 7 249 / 11%) !important;
    box-shadow: inset 60px 0 120px #ffffff-60px 0 120px #ffffff !important;
}

::-webkit-scrollbar-thumb {
    background: rgb(137 13 208) !important;
    box-shadow: inset 60px 0 120px #ffffff-60px 0 120px #ffffff !important;
}

#mLevelCont,
#referralHeader,
.setHedS,
.hostHeader {
    background: rgb(161 7 249 / 20%) !important;
    box-shadow: inset 60px 0 120px #ffffff-60px 0 120px #ffffff !important;
}

.sliderSml,
.slider,
.inputGrey2,
.sliderM,
#settSearch,
#rawMapData,
#presetName,
#presetSelect {
    background: rgb(215 167 243 / 75%) !important;
    box-shadow: inset 60px 0 120px #ffffff-60px 0 120px #ffffff !important;
}

input:checked+.sliderSml,
input:checked+.slider {
    background: rgb(124 5 191 / 75%) !important;
    box-shadow: inset 60px 0 120px #ffffff-60px 0 120px #ffffff !important;
}

#signedOutHeaderBar,
#signedInHeaderBar {
    border-radius: 15px;
}


/* Hide */

#gameNameHolder,
#seasonLabel,
#voiceDisplay,
#ot-sdk-btn-floating.ot-floating-button,
#braveWarning,
#ot-sdk-btn-floating .ot-floating-button__front,
#ot-sdk-btn-floating .ot-floating-button__back,
#newsHolder,
#faceItIconM,
.weapKey,
#hudClassIcon,
#challIcon,
#maxHP,
#healthBar,
#ammoIcon,
#ammoMax {
    display: none !important;
}

#menuBtnHost,
#menuBtnBrowser,
#menuBtnRanked,
#menuBtnRanked,
#menuBtnJoin,
#inviteButton {
    font-size: 35px !important;
}

#instructions {
    font-size: 38px;
}

.optName {
    font-size: 22px;
}

#spectButton {
    margin-top: 19%
}

#spectButton::after {
    content: 'CSS by: RisDN';
    margin-left: 25px;
    color: var(--fontcolor)
}

#customizeButton,
#instructionsUpdate {
    font-size: 33px;
}

.menuClassLevelBox,
.menuClassPlayerName,
.menuClassPlayerClan {
    font-size: 35px;
    padding: 10px;
}

.menuClassPlayerName,
.menuClassPlayerClan,
.menuClassLevelBox {
    border-radius: 15px !important;
}

#menuClassName,
#menuClassSubtext,
.floatR {
    font-size: 25px;
    padding: 2px;
}

#menuClassNameTag {
    margin-bottom: 25%;
}

#spectButton span,
#menuRegionLabel,
.standout,
#menuClassName,
#customizeButton,
.button,
#mapInfo,
.menuItemTitle,
#policePopC div,
.settingTab,
.serverHostOpH,
.serverHostOp,
.menuClassPlayerName,
#menuAccountUsername,
.matchVoteMap,
.matchVoteMode,
.matchVoteTotal,
.hostHeader,
#rawMapData::placeholder,
.blackShad,
.optName,
.setHed,
#presetName,
#presetName::placeholder {
    color: var(--fontcolor)!important;
}

.blackShad {
    font-size: 16px;
}

#menuFPS,
#menuPingText {
    font-size: 25px;
}

#menuRegionLabel,
.xpBarV,
#trustProgHD {
    font-size: 20px;
}

#tlInfHold {
    opacity: 0.2;
}

#weapDisplay {
    display: flex !important;
    flex-direction: row;
    right: 50%;
    bottom: 0;
    transform: translate(50%);
}

.weapIcon {
    padding-bottom: 50px;
    opacity: 1 !important;
}

.weapIcon[style*="opacity: 1;"] {
    transition: 0.3s;
    filter: brightness(0) drop-shadow(4px 4px #ce1adc) drop-shadow(-4px -4px #ce1adc);
    transform: scale(1.2);
}

#instructionHolder {
    backdrop-filter: blur(5px);
    color: #ce1adc;
}

.classCard {
    color: var(--fontcolor) !important;
    background: rgba(0, 0, 0, 0.5);
    font-size: 0;
}

.classWeap {
    font-size: 0;
    color: var(--fontcolor) !important;
    text-shadow: -1px -1px 0 #202020, 1px -1px 0 #202020, -1px 1px 0 #202020, 1px 1px 0 #202020, -2px -2px 0 #202020, 2px -2px 0 #202020, -2px 2px 0 #202020, 2px 2px 0 #202020, -3px -3px 0 #202020, 3px -3px 0 #202020, -3px 3px 0 #202020, 3px 3px 0 #202020;
}

.classHP,
.classHP span,
.classLvl {
    color: var(--fontcolor) !important;
    font-size: 0 !important;
    transition-duration: 0.3s;
}

.clsXPBarC {
    background-color: #b301ec;
}

.classXPBar {
    opacity: 0;
    transition-duration: 0.3s;
}

.classCard,
.classWeap {
    font-size: 18px;
    transition-duration: 0.3s;
}

.classImgC {
    position: absolute;
    right: 30px;
    top: 50px;
    filter: saturate(0);
    transition-duration: 0.3s;
}

.classCard:hover .classWeap,
.classCard:hover .classHP,
.classCard:hover .classLvl {
    font-size: 20px !important;
}

.classCard:hover {
    background-color: #000000a6;
    font-size: 20px;
}

.classCard:hover .classImgC {
    transform: scale(1);
    filter: saturate(1);
}

.classCard:hover .classXPBar {
    opacity: 1;
}

#selectorContainer,
.selectorItem {
    background-color: transparent!important;
    filter: drop-shadow(0 0 0.15rem #ff00ff);
}

#instructions {
    visibility: hidden;
}

#instructions:after {
    visibility: visible;
    content: 'Good luck';
    color: var(--fontcolor);
}

#instructions:before {
    visibility: visible;
    content: 'Have Fun';
    color: var(--fontcolor);
}

#spinKR,
#spinInfo,
#loadingBg {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}


/* Icon images */

.iconProfile {
    background-image: url(https://cdn.discordapp.com/attachments/717771741476421653/735482375198343228/profile.png);
}

.iconShop {
    background-image: url(https://cdn.discordapp.com/attachments/717771741476421653/735482394479689779/shop.png);
}

.iconChall {
    background-image: url(https://cdn.discordapp.com/attachments/717771741476421653/735482346975002734/chall.png);
}

.iconSocial {
    background-image: url(https://cdn.discordapp.com/attachments/717771741476421653/735482405309382696/social.png);
}

.iconGames {
    background-image: url(https://cdn.discordapp.com/attachments/717771741476421653/735482356592410696/games.png);
}

.iconMods {
    background-image: url(https://cdn.discordapp.com/attachments/717771741476421653/735482365148921966/mods.png);
}

.iconSettings {
    background-image: url(https://cdn.discordapp.com/attachments/717771741476421653/735482384148856953/settings.png);
}

#healthValueHolder {
    background-color: transparent;
    position: fixed;
    left: 30%;
    bottom: 24%;
}

#healthValue {
    color: var(--fontcolor);
    font-size: 45px;
}

#ammoDisplay {
    transform: unset;
    background-color: transparent;
    position: fixed;
    left: calc(50% - 40px);
    bottom: calc(50% - 60px);
    height: 8px;
    width: 80px;
    padding: 0;
    margin: 0;
}

#ammoVal {
    color: var(--fontcolor);
    font-size: 45px;
    position: fixed;
    right: 30%;
    bottom: 25%;
}

#leaderDisplay {
    background-color: (#d705ea);
}