/* Made by: RisDN | Ris#2928 */


/*
Changelog 1 2021.06.24
MENUS
- Fixed some positioning bug
- Created style for KPD window
- Created style for Login window
- Fixed challenges button (small text)
- Code optimalization
- Profile page fixed (small text)
- Created style for menuClassPlayerName and menuClassPlayerClan
- Added selected gun's color
- Added button colors to most of the menus
- Fixed purple theme in challanges window
*/


/*

Changelog 2 2021.06.25
- Fixed some positioning bug
- Created style for host game
- Created style for many buttons
- Created style for inputs, like sliders or select
- Created style for scroll bar

*/

@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
:root {
    --fontcolor: #fbd6fb
}

body,
* {
    font-family: 'Lacquer', cursive;
    font-weight: bold;
}

.menuItem {
    font-size: 28px !important;
    background: rgb(161 7 249 / 11%);
    box-shadow: inset 60px 0 120px #ffffff-60px 0 120px #ffffff;
    margin: 5px;
    -webkit-transition: all .5s;
    transition: all .5s;
    border-radius: 25px;
    color: var(--fontcolor)!important;
    text-shadow: -1px -1px 0 #202020, 1px -1px 0 #202020, -1px 1px 0 #202020, 1px 1px 0 #202020, -2px -2px 0 #202020, 2px -2px 0 #202020, -2px 2px 0 #202020, 2px 2px 0 #202020, -3px -3px 0 #202020, 3px -3px 0 #202020, -3px 3px 0 #202020, 3px 3px 0 #202020!important;
}

#menuBtnChall {
    font-size: 19px !important;
}

.lgn {
    /* Login or register text */
    font-size: 24px !important;
}

.button,
.accountButton,
.subPassChg,
.quickJoin,
#hostMenuBtn,
.redVouchBtn,
.settingsBtn,
.advancedToggle,
input:checked+.optCheck,
.hostToggle,
.hostPresetBtn,
.hostCBtn {
    /* Buttons */
    background-color: #aa02ff !important;
    color: var(--fontcolor);
    box-shadow: inset 0 -7px 0 0 #aa02ff!important;
}

#chatList,
#chatInputHolder,
.chalCard,
#termsInfo,
#headerRight,
#signedOutHeaderBar,
#signedInHeaderBar,
#menuWindow,
.menuClassLevelBox,
.menuClassPlayerName,
.menuClassPlayerClan,
.setHed,
.serverHeader,
#selectorContainer,
#selectorContainer,
.skinCard,
.blackShad,
.classCard,
#itemSearchH,
#tlInfHold,
#leaderDisplay,
#reloadMsg,
#bottomLeftHolder,
#ammoDisplay,
#speedRunHolder,
#spectateInfo,
#timerDisplay,
#endTabbedView,
#endUI,
#scoreZoneCount,
#livesCount,
#killCount,
#deathCount,
#streakCount,
#kdCount,
#scoreCount,
#killFeed,
.settingsHeader,
#policePopC,
#instructionsUpdate,
#matchVoteHolder {
    background: rgb(161 7 249 / 11%) !important;
    box-shadow: inset 60px 0 120px #ffffff-60px 0 120px #ffffff !important;
}

#policePopC b {
    color: #e423e4 !important;
}

#reloadMsg,
#bottomLeftHolder,
.blackShad {
    border-radius: 25px;
}

::-webkit-scrollbar-track {
    background: rgb(161 7 249 / 11%) !important;
    box-shadow: inset 60px 0 120px #ffffff-60px 0 120px #ffffff !important;
}

#mLevelCont,
#referralHeader,
.setHedS,
.hostHeader {
    background: rgb(161 7 249 / 20%) !important;
    box-shadow: inset 60px 0 120px #ffffff-60px 0 120px #ffffff !important;
}

.sliderSml,
.slider,
.inputGrey2,
.sliderM,
#settSearch,
#rawMapData,
#presetName,
#presetSelect {
    background: rgb(215 167 243 / 75%) !important;
    box-shadow: inset 60px 0 120px #ffffff-60px 0 120px #ffffff !important;
}

input:checked+.sliderSml,
input:checked+.slider {
    background: rgb(124 5 191 / 75%) !important;
    box-shadow: inset 60px 0 120px #ffffff-60px 0 120px #ffffff !important;
}

#signedOutHeaderBar,
#signedInHeaderBar {
    border-radius: 15px;
}


/* Hide */

#gameNameHolder,
#seasonLabel,
#voiceDisplay,
#ot-sdk-btn-floating.ot-floating-button,
#braveWarning,
#ot-sdk-btn-floating .ot-floating-button__front,
#ot-sdk-btn-floating .ot-floating-button__back,
#newsHolder,
#faceItIconM {
    display: none !important;
}

#menuBtnHost,
#menuBtnBrowser,
#menuBtnRanked,
#menuBtnRanked,
#menuBtnJoin,
#inviteButton {
    font-size: 35px !important;
}

#instructions {
    font-size: 38px;
}

.optName {
    font-size: 22px;
}

#spectButton {
    margin-top: 19%
}

#spectButton::after {
    content: 'CSS by: RisDN';
    margin-left: 25px;
    color: var(--fontcolor)
}

#customizeButton,
#instructionsUpdate {
    font-size: 33px;
}

.menuClassLevelBox,
.menuClassPlayerName,
.menuClassPlayerClan {
    font-size: 35px;
    padding: 10px;
}

.menuClassPlayerName,
.menuClassPlayerClan,
.menuClassLevelBox {
    border-radius: 15px !important;
}

#menuClassName,
#menuClassSubtext,
.floatR {
    font-size: 25px;
    padding: 2px;
}

#menuClassNameTag {
    margin-bottom: 25%;
}

#spectButton span,
#menuRegionLabel,
.standout,
#menuClassName,
#customizeButton,
.button,
#mapInfo,
.menuItemTitle,
#policePopC div,
.settingTab,
.serverHostOpH,
.serverHostOp,
.menuClassPlayerName,
#menuAccountUsername,
.matchVoteMap,
.matchVoteMode,
.matchVoteTotal,
.hostHeader,
#rawMapData::placeholder,
.blackShad,
.optName,
.setHed,
#presetName,
#presetName::placeholder {
    color: var(--fontcolor)!important;
}

.blackShad {
    font-size: 16px;
}

#menuFPS,
#menuPingText {
    font-size: 25px;
}

#menuRegionLabel,
.xpBarV,
#trustProgHD {
    font-size: 20px;
}

#tlInfHold {
    opacity: 0.2;
}